// Resets, Clearfix, etc
@import 'partials/reset';
@import 'partials/clearfix';

// Variables
// Media Query Ranges
$small: "only screen and (min-width: 400px)";
$medium: "only screen and (min-width: 600px)";
$large: "only screen and (min-width: 800px)";
$xlarge: "only screen and (min-width: 1000px)";
$xxlarge: "only screen and (min-width: 1200px)";
$g-pad: "(padding:10px)";

// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark){
  font-size: $block_font_size;
  color: $block_font_color;
}
// Styles

.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }
.clearfix {
  display: block; }

.block_family{
  box-sizing: border-box;
  max-width:80%;
  margin:auto;
}


.block_family li{
  box-sizing: border-box;
  background-color: #ff880c ;
  margin-bottom: 20px;
  vertical-align: middle;
  padding: 10px;
  height: 150px;
  margin-left: 20px;
  border-radius: 15px;


  @media #{$medium}{
  box-sizing: border-box;
  background-color: #C46809;
  float:left;
  vertical-align: middle;
  margin-left: 20px;
  width: 95%;
  }
  @media #{$large}{
  box-sizing: border-box;
  background-color: #7a4106;
  float:left;
  vertical-align: middle;
  margin-left: 20px;
  width: 46%;
  }
  @media #{$xlarge}{
  box-sizing: border-box;
  background-color: #27200f;
  margin-left: 20px;
  vertical-align: middle;
  float:left;
  width: 30%;
  padding: 18px;
  }
  @media #{$xxlarge}{
  box-sizing: border-box;
  background-color: black;
  margin-left: 20px;
  width:22%;

  }
}

body{
  // This is for the Body
  box-sizing: border-box;
  background-color:black;
  text-align: center;
  color: #EEE;
  @media #{$medium}{
  background-color: darkblue;
    //Currently at Medium, it does nothing yet.
  }
  @media #{$large}{
    //BG turned black when enlargened to over 900px
    background-color: blue;
  }
  @media #{$xlarge}{
    //BG turned black when enlargened to over100px
    background-color: lightblue;
  }
  @media #{$xxlarge}{
    //BG turned black when enlargened to over 1300px
    background-color: white;
  }
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
h1{
  padding: 20px;
}
h2{

}